@model IEnumerable<HomeWork.Models.NewTable>

@{
    ViewBag.Title = "客戶資料";
}

<h2>客戶資料</h2>
<div class="form-group">
    <div class="form-inline">
        @Html.ActionLink("客戶資料管理", "Index", "Customer") |
        @Html.ActionLink("客戶聯絡人管理", "Index", "CustomerContact") |
        @Html.ActionLink("客戶銀行帳戶管理", "Index", "CustomerBank")
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行帳戶數量)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.聯絡人數量)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.銀行帳戶數量)
            </td>
        </tr>
    }
</table>

