@model IEnumerable<HomeWork.Models.客戶銀行資訊>

@{
    ViewBag.Title = "客戶銀行帳戶管理";
}

<h2>客戶銀行帳戶管理</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Back Main", "Index", "MainCustomer")
</p>
@using (Html.BeginForm("Index", "CustomerBank", FormMethod.Post, new { id = "queryForm", @class = "form-horizontal" }))
{
    <div class="form-group">
        <div class="col-sm-10 form-inline">
            <div class="form-group col-sm-5">
                <label class="col-sm-3 control-label">@Html.Label("keyword", "關鍵字:")</label>
                <div class="col-sm-9">
                    @Html.TextBox("keyword", null, new { @class = "form-control", @placeholder = "keyword" })
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <button id="query" type="submit" class="btn btn-primary">搜尋</button>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行代碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.分行代碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.帳戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.帳戶號碼)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.銀行名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.銀行代碼)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.分行代碼)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.帳戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.帳戶號碼)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you SURE?');" })
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(function () {
            var contactTable = function () {
                var api = contactTable.api()

                api.ajax.url('@Url.Action("Index")?' + $('#queryForm').serialize());
                api.ajax.reload();
            }

            $("#query").click(function () {
                $("#queryForm").submit();

            });
        });
    </script>
}